/*selector {
	property: value;
}*/

h1	{
	color: rgba(100,100,100,0.6);

	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/
	border: 2px solid rgb(255,100,80);
}

h4 {
	background: rgb(255,100,80);
}

body {
	/*background: pink;*/
	background: url(https://pixabay.com/get/ef37b10a2bf51c22d9584518a33219c8b66ae3d01db217409df1c67a/wood-620531_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}